@font-face {
  font-family: gilroy-light;
  src: url(Font/Gilroy-Light.ttf);
}

@font-face {
  font-family: gilroy-medium;
  src: url(Font/Gilroy-Medium.ttf);
}

@font-face {
  font-family: gilroy-semi-bold;
  src: url(Font/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: gilroy-bold;
  src: url(Font/Gilroy-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-modify: none;
}
html,
body {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
main {
  width: 100%;
  height: 100%;
}

.page-front {
  width: 100%;
  height: 100vh;
  background-color: #000;
}
.page-content {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  background-color: #000;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  background-color: #000;
}

.nav-left,
.nav-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-logo {
  height: 50px;
}

.nav-link {
  color: #ffff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: gilroy-light;
}

.page-hero {
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  width: 100%;
  height: 100px;
  background: red;
}
.hero-left {
  width: 50%;
  height: 100%;
  background: yellow;
}
.hero-right {
  width: 25%;
  height: 100%;
  background: blue;
}
.page-back {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.page-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
